<h1>Listing messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th>From</th>
      <th>to</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<tr><td>yo</td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path, class:'btn btn-warning' %>
