<% if current_user.has_role? :trainer %>
  <h1>Add a new client</h1>
  <form>
    First name: <input type="text" name="firstname"><br>
    Email: <input type="text" name="lastname">
    <br>
    <input type="submit" value="Submit">
  </form>
  <hr>
<% end %>

<h1>List of programmes</h1>
<% if current_user.has_role? :trainer %>
  <%= link_to 'New programme', new_programme_path, class:'btn btn-success' %>
<% end %>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Due date</th>
      <th>Status</th>
    </tr>
  </thead>

      
  <tbody>
    <% @programmes.reverse_order.each do |programme| %>
      <% if (programme.user == current_user) && (programme.status == 'draft')%>
        <tr>
          <td><%= link_to programme.description, programme %></td>
          <td><%= programme.due_date %></td>
          <td><%= programme.status %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
