
<h2><%= link_to 'Back to programmes', programmes_path, class:'btn btn-primary' %></h2>
<hr>
<div class="row">
	<div class="col-md-6">
		<h2>New programme for:</h2>
	</div>
</div>

<%= render 'form' %>


