<h1>Welcome to the best online Personal Trainer</h1>
<p>Developped for the best experience ever!</p>

<% if !user_signed_in? %>
	<div class="text-center">
		<%= link_to 'Sign In', new_user_session_path, class:'btn btn-success' %>
	</div>
<% end %>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<p>
			<h2>Benefits</h2>
			<ul class="h4">
				<li>You have a dedicated PT making programs that fit you.</li>
				<li>You can follow the next program anytime, don't need to wait your PT to available when you're not.</li>
				<li>Easy to use, no need to install another app.</li>
			</ul>
			<br>
		</p>
	</div>

	<div class="col-md-6 col-xs-12">
	<p class="text-center">
		<%=image_tag 'front.png', width:'80%' %>
	</p>
	</div>
</div>