<% if user_signed_in? %>
	
	<div class="row">
		<div class="col-md-6">
			<ul class="h4">
				<li>Personal training without the mountains of paperwork.</li>
				<li>Train your clients from anywhere at anytime.</li>
				<li>Easy to use, no need to install another app.</li>
			</ul>
		</div>
	</div>

<% else %>

	<div class="row">

		<div class="col-md-6 col-xs-12">
			<%= image_tag 'logo.png', alt: 'paperlesspt logo' %>
		</div>


		<div class="col-md-6 col-xs-12">
			<%= link_to 'Sign In', new_user_session_path, class: 'btn trainer', id: 'sign-in' %>
			<%= link_to 'Sign up', new_user_registration_path, class: 'btn client', id: 'sign-up' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<ul class="h4">
				<li>Personal training without the mountains of paperwork.</li>
				<li>Train your clients from anywhere at anytime.</li>
				<li>Easy to use, no need to install another app.</li>
			</ul>
		</div>
	</div>


<% end %>



</div>