<div class="row">
	<div class="col-md-6">
		<%= link_to '<', programme_path(@programme_id), class:'btn btn-success' %><%= link_to 'Create a new exercise', new_exercise_path, class:'btn btn-info' %>
		<h2>New spec</h2>
		<%= render 'form' %>
	</div>
</div>