* {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
	background-color: #0f6666 !important;
}

.navbar .btn {
	padding: .5em;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border: none !important;
}


#nummess{
color: white !important;
background-color: #0f6666;
display: inline-block;
padding: .25em;
margin-bottom: -.5em;
margin-top: -.5em;
border-radius: .2em;
margin-left: .5em;
}

h3 {
	font-weight: 400;
}
.btn{
	color: black !important;
	margin: .5em !important;
}

.navbar *{
	color: black !important;
}

.nav li {
	margin-top: 0 !important;
}
.collapsed {
	background-color: white !important;
}

.icon-bar {
	background-color: black !important;
}
.back-button {
	position: relative;
	bottom: 1em;
	z-index: 3;
}

.yield{
	margin-bottom: 4em;
}

.bottom-bar {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em;
	z-index: 3;
	background-color: black;
}

#user_remember_me{
	position: static !important;
	display: inline-block !important;
	margin: .1em !important;
	margin-left: 1em !important;
}

.user_remember_me .controls{
	display: inline-block;
	margin-right: 0;
	padding-right: 0;
}

.highlight {
	  background-color: #963e4f !important;
	  margin: 1em;
	  padding: .5em;
	  font-weight: bold;
	  display: inline-block;
}

.admin {
  background-color: #963e4f !important;
  color: black !important;
}

.trainer {
  background-color: #0f6666 !important;
    color: black !important;
}

.client {
  background-color: #729f17 !important;
    color: black !important;
}

input *{
	color: black;
}

select *{
	color: black;
}

.controls * {
	color: black;
}

.boolean .controls {
width: 3em;
margin-left: 3em;
display: inline-block !important;
position: static !important;
vertical-align: bottom;
}

.checkbox-input {
	margin: 0 !important;
	width: 100%;
	height: 100%;
}
.splash-image {
	width: 15em;
	margin-top: -10em;
}

.highlighted-block{
padding: 1em;
margin: 1em;
}

.btn {
	/*padding: 1em !important;*/

}

.navbar {
  min-height: 40px;
}

.navbar-brand {
  float: left;
  height: 40px;
  padding: 5px 5px;
  font-size: 18px;
  line-height: 20px;
}
.menu-top {
	text-align: center;
	padding-top: 5px;

}
#sign-in {
	background-color: yellow;
	font-size: 2em !important;
	color: black;
	border-radius: 1em !important;
}

#sign-up {
	background-color: green;
	font-size: 2em !important;
	color: black;
	border-radius: 1em !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {



}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (min-width : 1224px) {



}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1024px) {


}