<h1>MyOPT</h1>

<p>
  <%= @greeting + ' ' + @client.profile.first_name.capitalize %>,<br>
  <br>
  we're sending you that notification so you're aware that you've been assigned a new programme!<br>
</p>

<% if @programme.description %>
	<div class="panel panel-default">
    <div class="panel-heading">Here's the message</div>
    <div class="panel-body">
      <%= @programme.description%>
    </div>
  </div>
<% end %>

<p>
  Let's get things done and complete your programme today, you can sign-in at <a href='google.com' class='btn btn-success'>Myopt</a><br>
</p>
<p>
  Cheers<br>
  Your Online PT <%= @client.trainers.first.profile.first_name.capitalize %><br>
</p>
